// Variables ===================================================================
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #373a3c;
$gray-900: #212529;
$black: #000;
$blue: #2780e3;
$indigo: #6610f2;
$purple: #613d7c;
$pink: #e83e8c;
$red: #ff0039;
$orange: #f0ad4e;
$yellow: #ff7518;
$green: #3fb618;
$teal: #20c997;
$cyan: #9954bb;
$primary: $blue;
$secondary: $gray-800;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;
$enable-rounded: false;
$body-color: $gray-800;
$font-family-sans-serif: 'Segoe UI', 'Source Sans Pro', Calibri, Candara, Arial,
  sans-serif;
$font-size-base: 0.9375rem;
$headings-font-weight: 300;
$navbar-dark-hover-color: rgba($white, 1);
$navbar-light-hover-color: rgba($black, 0.9);
$alert-border-width: 0;
$progress-height: 0.5rem;
$web-font-path: 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' !default;
@import url($web-font-path);

@import './node_modules/bootstrap/scss/bootstrap.scss';

// Navbar ======================================================================

// Buttons =====================================================================

// Typography ==================================================================

body {
  -webkit-font-smoothing: antialiased;
}

// Tables ======================================================================

// Forms =======================================================================

// Navs ========================================================================

// Indicators ==================================================================

// Progress bars ===============================================================

.progress {
  @include box-shadow(none);
  .progress-bar {
    font-size: 8px;
    line-height: 8px;
  }
}

// Containers ==================================================================

main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
